<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-escience">

    {% include sidebar.html %}

    <div class="content container">

           <!-- Archiving banner -->
        <div class="archived-banner">
          <div class="banner-content">
            <strong>Archived:</strong> This website is part of [UW eScience Institute](https://escience.washington.edu/)'s Web Archive.
          </div>
        </div>

        <!-- CSS Styling -->
        <style>
        .archived-banner {
          background-color: #fff3cd; /* Light yellow background */
          color: #856404;            /* Dark yellow/brown text */
          border: 1px solid #ffeeba; /* Border color */
          padding: 15px;             /* Spacing inside the box */
          border-radius: 5px;        /* Rounded corners */
          margin-bottom: 20px;
          font-family: sans-serif;
          text-align: center;
        }
        </style>
          
      {{ content }}
    </div>

  </body>
</html>
